<div class="app-container">
  <div class="actions-mobile">
    <input [ngModel]="search" (ngModelChange)="changeSearch($event)" type="text" class="form-control search-input" placeholder="Buscar pokemon" >
  </div>
  <div class="actions">
    <button (click)="previousPage()" [disabled]="offset === 0" type="button" class="btn btn-primary">Anterior</button>
    <input [ngModel]="search" (ngModelChange)="changeSearch($event)" type="text" class="form-control search-input" placeholder="Buscar pokemon" >
    <button (click)="nextPage()" type="button" class="btn btn-primary" [disabled]="disableNext">Proximo</button>
  </div>
  <div class="content">
    <app-card-pokemon *ngFor="let pokemon of pokemons" [pokemon]="pokemon">
    </app-card-pokemon>
  </div>
</div>